Repository compucorp/uk.co.compucorp.civicrm.prospect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

GIZ-348: Prevent accessing paymentinfo if not on prospect
  ang/prospect/case-actions/services/unlink-contribution-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
Due: eslint --fix

COMCL-351: Update info.xml
  info.xml
Due: none

COMCL-351: Update test container to 1.3.1
  .github/workflows/unit-test.yml
Due: none

COMCL-423: Update info.xml
  info.xml
Due: none

COMCL-457: Update info.xml for 4.0.0 release
  info.xml
Due: none

COMCL-635: Upgrade civix
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Base.php
  info.xml
  phpunit.xml.dist
  prospect.civix.php
  prospect.php
  tests/phpunit/BaseHeadlessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-635: Upgrade civix
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Base.php
  info.xml
  mixin/entity-types-php@1.0.0.mixin.php
  mixin/smarty-v2@1.0.1.mixin.php
  phpunit.xml.dist
  prospect.civix.php
  prospect.php
  tests/phpunit/BaseHeadlessTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-620: Fix add case button issue
  ang/prospect.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-710: Fix case status updation
  CRM/Prospect/CustomFieldsFormBuilder.php
  CRM/Prospect/ProspectCustomGroups.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-921: Bump version
  info.xml
Due: none

CIVIMM-261: Remove unnecessary tests
  tests/phpunit/BaseHeadlessTest.php
  tests/phpunit/CRM/Prospect/Hook/alterMailParams/SubjectCaseTypeCategoryProcessorTest.php
  tests/phpunit/bootstrap.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

COMCL-1006: Bump version
  info.xml
Due: none

COMCL-1218: Fix prospect creation
  CRM/Prospect/ProspectCustomGroups.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Replace reference to deprecated exception class
  CRM/Prospect/BAO/ProspectConverted.php
  CRM/Prospect/CustomFieldsFormBuilder.php
  CRM/Prospect/Form/Handler/PaymentEntityUpdate.php
  CRM/Prospect/Hook/Post/UpdateProspectFields.php
  CRM/Prospect/ProspectCustomGroups.php
  api/v3/ProspectConverted.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

🤖 Update version to 3.4.0 in info.xml
  info.xml
Due: none

🤖 Update version to 8.21.0 in info.xml
  info.xml
Due: none

🤖 Update version to 8.22.0 in info.xml
  info.xml
Due: none

🤖 Update version to 7.99.0-alpha1 in info.xml
  info.xml
Due: none

🤖 Update version to 7.0.0-alpha1 in info.xml
  info.xml
Due: none

🤖 Update releaseDate to 2026-01-20
  info.xml
Due: none

🤖 Update releaseDate to 2026-01-22
  info.xml
Due: none

🤖 Update version to 7.0.0-beta1 in info.xml
  info.xml
Due: none

Update releaseDate to 2026-04-03
  info.xml
Due: none

🤖 Update version to 7.0.0 in info.xml
  info.xml
Due: none

Update releaseDate to 2026-06-01
  info.xml
Due: none

🤖 Update version to 7.1.0 in info.xml
  info.xml
Due: none

Update releaseDate to 2026-07-10
  info.xml
Due: none

Remove unused lo-dash (CRM._)
  ang/prospect.js
  ang/prospect/case-actions/services/convert-prospect-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
Due: eslint --fix

Document full dependency chain and installation order
  readme.md
Due: none

Warn that CiviCase is not in the extension directory
  readme.md
Due: none

Convert to PHP short array syntax
  CRM/Prospect/DAO/ProspectConverted.php
  xml/schema/CRM/Prospect/ProspectConverted.entityType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Replaced call to deprecated function
  CRM/Prospect/Setup/AddSalesOpportunityTrackingWordReplacement.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Remove redundant require_once/include_once for CRM classes
  CRM/Prospect/DAO/ProspectConverted.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml
