Repository compucorp/uk.co.compucorp.civicrm.prospect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-231: Move prospect custom fields to prospect category
  CRM/Prospect/Setup/MoveCustomFieldsToProspecting.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1003.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-231: Add Prospect Category to Custom Group Extends.
  CRM/Prospect/Setup/AddProspectCategoryCgExtendsValue.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1003.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-172: Add grouping for prospect case statuses
  CRM/Prospect/Setup/CreateProspectWorkflowCaseStatuses.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-172: PR feedback.
  CRM/Prospect/Setup/CreateProspectWorkflowCaseStatuses.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-267: Enable the Required components for CiviProspect extension
  CRM/Prospect/Setup/EnableRequiredComponents.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1005.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-267: PR feedback.
  CRM/Prospect/Setup/EnableRequiredComponents.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-175: fix prospect-info styles
  css/style.css
Due: none

RSE-175: add scss and linters
  .browserslistrc
  .lintstagedrc
  .stylelintrc
  css/prospect.min.css
  css/prospect.min.css.map
  css/style.css
  gulp-tasks/.eslintrc.js
  gulp-tasks/karma-unit-test.js
  gulp-tasks/sass.js
  gulpfile.js
  package-lock.json
  package.json
  prospect.php
  scss/components/_accordion.scss
  scss/components/_case-info.scss
  scss/forms/_contribute.scss
  scss/prospect.scss
  templates/ProspectConvertedInfo.tpl
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-175: PR Feedback
  css/prospect.min.css.map
  scss/components/_case-info.scss
Due: none

RSE-175: Fix logic
  ang/prospect/prospect-converted/decorators/case-details.decorators.js
Due: eslint --fix

RSE-175: PR Feedback
  ang/prospect/prospect-converted/decorators/case-details.decorators.js
Due: eslint --fix

RSE-216: Modify setup to add fetching case types for prospect category.
  CRM/Prospect/Helper/CaseTypeCategory.php
  CRM/Prospect/Setup/AddProspectCategoryCgExtendsValue.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-287: Add standard timeline to default prospect workflow.
  CRM/Prospect/Setup/CreateProspectWorkflowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-271: Rename Prospect Category Label.
  CRM/Prospect/Setup/CreateProspectingOptionValue.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-271: Modify the prospect menus to include the URL parameter before the fragment.
  CRM/Prospect/Setup/CreateProspectMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-271: Adds the prospect category word replacement class
  CRM/Prospect/WordReplacement/ProspectCategory.php
  config/word_replacement/prospect_category.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-271: Add Class to case tyoe category word replacement class.
  CRM/Prospect/Setup/AddProspectCategoryWordReplacement.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1006.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-271: Ensure option group exists.
  CRM/Prospect/Setup/AddProspectCategoryWordReplacement.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-373: Modify prospect status labels.
  CRM/Prospect/Setup/CreateProspectWorkflowCaseStatuses.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-468: Fix security vulnerabilities
  .eslintrc.json
  ang/prospect/.eslintrc.js
  ang/prospect/app.config.js
  ang/prospect/case-actions/services/convert-prospect-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
  ang/prospect/prospect-converted/decorators/case-details.decorators.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
  ang/test/.eslintrc.js
  ang/test/mocks/data/case-type-category.data.js
  ang/test/mocks/data/payment-info.data.js
  ang/test/mocks/data/prospect-coverted.data.js
  ang/test/prospect/prospect-converted/services/prospect-converted.service.spec.js
  css/prospect.min.css.map
  gulp-tasks/.eslintrc.js
  gulp-tasks/karma-unit-test.js
  gulp-tasks/sass.js
  package-lock.json
  package.json
Due: eslint --fix

RSE-347: Use global functions
  ang/prospect.ang.php
  ang/prospect/prospect-converted/services/prospect-converted.service.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-347: Use hooks for angular module dependency
  prospect.civix.php
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-510: Fix Civicrm errors.
  CRM/Prospect/Hook/APIWrappers/CaseCreationAPIWrapper.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-1172: Fix database upgrades required warning message
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-25: Fix error on cg page after disabling extension
  CRM/Prospect/Setup/AddProspectCategoryCgExtendsValue.php
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-767: Only invoke API Wrapper when Entity is Case
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-767: Check IF class exists before running hook.
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-765: Remove campaign field
  CRM/Prospect/Form/Handler/PaymentEntityAdd.php
  prospect.php
  xml/custom_group_prospect_financial_information_install.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-765: Remove campaign field using upgrader
  CRM/Prospect/Upgrader/Steps/Step1007.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-765: Fix syntax errors
  CRM/Prospect/Form/Handler/PaymentEntityAdd.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1007.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-765: remove campaign field from one more place
  CRM/Prospect/Upgrader/Steps/Step1007.php
  xml/custom_group_prospect_financial_information_install.xml
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-761: Use actual prospecting value rather than hardcoded values.
  CRM/Prospect/Setup/AddProspectCategoryCgExtendsValue.php
  CRM/Prospect/Setup/MoveCustomFieldsToProspecting.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-762: Modify APi permission for converted prospect.
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-772: Cleanup steps for prospect un-install.
  CRM/Prospect/Setup/DeleteInstalledCustomGroups.php
  CRM/Prospect/Setup/DeleteProspectMenus.php
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-772: Remove table created by extension on install
  sql/auto_uninstall.sql
Due: none

RSE-772: Changed namespace to Uninstall
  CRM/Prospect/Uninstall/DeleteInstalledCustomGroups.php
  CRM/Prospect/Uninstall/DeleteProspectMenus.php
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-905: Setup Custom fields for Prospect Case category using logic in Civicase. Rename upgraders
  CRM/Prospect/Setup/AddProspectCategoryCgExtendsValue.php
  CRM/Prospect/Setup/MoveCustomFieldsToWorkFlowCaseType.php
  CRM/Prospect/Setup/ProcessProspectCategoryForCustomGroupSupport.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1003.php
  CRM/Prospect/Upgrader/Steps/Step1004.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-905: Revert to Case where necessary instead of prospecting.
  CRM/Prospect/Form/Handler/OpenCase.php
  CRM/Prospect/ProspectCustomGroups.php
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-905: Remove Enable and Disable functions.
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

Path conditions:
  eslint --fix: any of: *.js
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
