Repository compucorp/uk.co.compucorp.civicrm.prospect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-905: Use Workflow case type Id
  CRM/Prospect/Setup/MoveCustomFieldsToWorkFlowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-4: Add prospecting permission to menus
  CRM/Prospect/Setup/CreateProspectMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-4: Skip ID check for view contribution and pledge page
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-763: Fix ID's check for contribution and pledge views
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-763: Set proper permission for prospect menus
  CRM/Prospect/Setup/CreateProspectMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1121: Update info.xml
  info.xml
Due: none

ACU-103: Prepare prospect for custom group support before creating prospect case type
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-248: Fix issues using npm audit
  package-lock.json
Due: none

CPS-248: Add forced security fixes
  package-lock.json
  package.json
Due: none

CPS-248: Update CSS map file
  css/prospect.min.css.map
  package-lock.json
Due: none

CPS-248: Fix unit tests
  ang/test/global.js
  ang/test/karma.conf.js
Due: eslint --fix

CPS-248: Restrict Node version
  .npmrc
  .nvmrc
  package.json
Due: none

CPS-248: Add linters workflow and huskyrc
  .github/workflows/linters.yml
  .huskyrc
  package-lock.json
  package.json
Due: none

CPS-248: Update info.xml
  info.xml
Due: none

RSE-1200: Fix blank Case Category Field on Installation
  CRM/Prospect/Setup/CreateProspectWorkflowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1225: Fix blank Case Category Field on Installation
  CRM/Prospect/Setup/CreateProspectWorkflowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1225: Exclude Drupal Ruleset
  phpcs-ruleset.xml
Due: none

RSE-1393: Add unit tests badge
  readme.md
Due: none

RSE-1393: Add Unit tests github action
  .github/workflows/unit-test.yml
Due: none

RSE-1393: Make unit tests compatible to run in github action
  ang/test/karma.conf.js
Due: eslint --fix

CPS-397: Fix failing drupal build for unit test workflow
  .github/workflows/unit-test.yml
Due: none

CPS-349: Change coder from drupal to civicrm
  bin/install-php-linter
  phpcs-ruleset.xml
Due: none

CPS-349: Update case type category for prospecting through manual query
  CRM/Prospect/Setup/CreateProspectWorkflowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-421: Fix unit test dependencies
  ang/test/karma.conf.js
Due: eslint --fix

CPS-421: Update package dependencies
  package-lock.json
Due: none

CPS-438: Update info file
  info.xml
Due: none

COMCL-101: Regenerate civix file and Base upgrader class
  CRM/Prospect/Upgrader/Base.php
  prospect.civix.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-427: Fix module files
  ang/prospect.ang.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-427: Update Github tests CiviCRM version
  .github/workflows/unit-test.yml
Due: none

CPS-464: Add github action to automate release pr
  .github/workflows/release-pr.yml
Due: none

CPS-521: Update CiviCRM version
  info.xml
Due: none

CATL-1660: Update NodeJS to v14.16.0
  .github/workflows/linters.yml
  .github/workflows/unit-test.yml
  .nvmrc
  css/prospect.min.css.map
  package-lock.json
  package.json
Due: none

CPS-203: Add prospecting menu
  CRM/Prospect/Service/ProspectingMenu.php
  CRM/Prospect/Setup/CreateProspectMenus.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CATL-203: Ignore phpcs rule for eval function
  tests/phpunit/bootstrap.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-203: Add base files for unit tests
  phpunit.xml.dist
  tests/phpunit/BaseHeadlessTest.php
  tests/phpunit/bootstrap.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-203: Rename method for updating menu items
  CRM/Prospect/Upgrader/Steps/Step1008.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-203: Add upgrader for updating menu
  CRM/Prospect/Upgrader/Steps/Step1008.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-554: FE Fixes
  ang/prospect.ang.php
  ang/prospect/app.constants.js
  ang/prospect/case-actions/services/convert-prospect-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
  ang/test/prospect/prospect-converted/services/prospect-converted.service.spec.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-554: Create and Assign Instance for Prospect
  CRM/Prospect/Helper/CaseTypeCategory.php
  CRM/Prospect/Setup/AddManageWorkflowMenu.php
  CRM/Prospect/Setup/CaseCategoryInstanceSupport.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-554: Reduce API calls
  ang/prospect/case-actions/services/convert-prospect-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
  ang/prospect/prospect-converted/decorators/case-details.decorators.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  ./bin/phpcs.phar --standard=phpcs-ruleset.xml: any of: *.php
