Repository compucorp/uk.co.compucorp.civicrm.prospect: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

.lintstagedrc:

{
  "*.js": [
    "eslint --fix",
    "git add"
  ],
  "*.php": [
    "./bin/phpcs.phar --standard=phpcs-ruleset.xml"
  ]
}

CPS-554: Use latest BE code
  CRM/Prospect/Helper/CaseTypeCategory.php
  CRM/Prospect/Service/SalesOpportunityTrackingMenu.php
  CRM/Prospect/Service/SalesOpportunityTrackingUtils.php
  CRM/Prospect/Setup/AddManageWorkflowMenu.php
  CRM/Prospect/Setup/CaseCategoryInstanceSupport.php
  CRM/Prospect/Setup/CreateProspectMenus.php
  CRM/Prospect/Upgrader/Steps/Step1008.php
  CRM/Prospect/Upgrader/Steps/Step1009.php
  ang/prospect/app.constants.js
  ang/prospect/case-actions/services/convert-prospect-case-action.service.js
  ang/prospect/case-actions/services/view-pledge-contribution-case-action.service.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
  ang/test/prospect/prospect-converted/services/prospect-converted.service.spec.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSE-1276: Update prospecting menu
  CRM/Prospect/Helper/CaseTypeCategory.php
  CRM/Prospect/Service/SalesOpportunityTrackingMenu.php
  CRM/Prospect/Setup/CreateProspectMenus.php
  CRM/Prospect/Upgrader/Steps/Step1008.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-123: Unlink Contribution
  ang/prospect/app.config.js
  ang/prospect/case-actions/services/unlink-contribution-case-action.service.js
  ang/prospect/prospect-converted/decorators/case-details.decorators.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
  ang/test/prospect/case-actions/services/unlink-contribution-case-action.service.spec.js
  ang/test/prospect/prospect-converted/services/prospect-converted.service.spec.js
Due: eslint --fix

GSSPRT-123: Code refactoring
  ang/prospect/case-actions/services/unlink-contribution-case-action.service.js
  ang/prospect/prospect-converted/services/prospect-converted.service.js
  ang/test/prospect/case-actions/services/unlink-contribution-case-action.service.spec.js
Due: eslint --fix

GSSPRT-123: Fix permissions
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-132: Unlink Contribution
  css/style.css
  js/Prospect.Page.CaseView.js
  templates/CRM/Case/Page/Tab.extra.tpl
Due: eslint --fix

GSSPRT-132: Remove unnecessary class
  templates/CRM/Case/Page/Tab.extra.tpl
Due: none

GSSPRT-132: Update info.xml
  info.xml
Due: none

GSSPRT-132: Add fix for new civicrm versions
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-132: Fix for prospect id
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-132: Add Permission check
  prospect.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-132: Fix permissions
  prospect.php
  templates/CRM/Case/Page/Tab.extra.tpl
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-135: Update Info.xml
  info.xml
Due: none

CPS-655: Fix new site deployments
  CRM/Prospect/Setup/CaseCategoryInstanceSupport.php
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

GSSPRT-132: Unit tests
  ang/test/prospect/case-actions/services/unlink-contribution-case-action.service.spec.js
Due: eslint --fix

GSSPRT-132: Fix permissions
  ang/prospect.ang.php
  ang/prospect/case-actions/services/unlink-contribution-case-action.service.js
Due: eslint --fix, ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-59: Rename word replacement class to reflect sales tracking. Add upgrader to add the option value
  CRM/Prospect/Setup/AddProspectCategoryWordReplacement.php
  CRM/Prospect/Setup/AddSalesOpportunityTrackingWordReplacement.php
  CRM/Prospect/Upgrader.php
  CRM/Prospect/Upgrader/Steps/Step1006.php
  CRM/Prospect/Upgrader/Steps/Step1010.php
  CRM/Prospect/WordReplacement/SalesOpportunityTracking.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-59: Add unit test.
  tests/phpunit/CRM/Prospect/Hook/alterMailParams/SubjectCaseTypeCategoryProcessorTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

RSESPRT-59: Linter fixes
  tests/phpunit/CRM/Prospect/Hook/alterMailParams/SubjectCaseTypeCategoryProcessorTest.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CPS-701: Fix supported civicrm version
  readme.md
Due: none

MAE-824: Fix failing installation caused by the early use of column separator
  CRM/Prospect/Setup/MoveCustomFieldsToWorkFlowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-824: Update linters and unit test workflow
  .github/workflows/linters.yml
  .github/workflows/unit-test.yml
  bin/install-php-linter
  package-lock.json
  package.json
Due: none

MAE-824: Use same PHPCS ruleset as CiviCase and CiviAwards
  phpcs-ruleset.xml
Due: none

MAE-824: test 1
  CRM/Prospect/Setup/MoveCustomFieldsToWorkFlowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-824: Use CiviCRM PHPCS ruleset
  .github/workflows/linters.yml
  bin/install-php-linter
  phpcs-ruleset.xml
Due: none

MAE-824: Use appropraite variable name
  CRM/Prospect/Setup/MoveCustomFieldsToWorkFlowCaseType.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-894: Update unittest workflow to PHP8
  .github/workflows/unit-test.yml
Due: none

MAE-824: Point PHPCS rules to the right files
  phpcs-ruleset.xml
Due: none

MAE-894: Use PHP8 and CiviCRM5.51.3 in test workflow
  .github/workflows/unit-test.yml
Due: none

MAE-894: Allow create to be called statically
  CRM/Prospect/Helper/ProspectConverted.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

MAE-899: Updare readme link
  readme.md
Due: none

CIVIIB-57: Use master branch of usermenu and civicase extension in test action
  .github/workflows/unit-test.yml
Due: none

CIVIIB-57: Explain the purpose of cheking out to CiviCase HEAD branch
  .github/workflows/unit-test.yml
Due: none

CIVIIB-57: Update compatible CiviCRM version
  info.xml
Due: none

BTHAB-39: Update menu label
  CRM/Prospect/Helper/CaseTypeCategory.php
  CRM/Prospect/Service/SalesOpportunityTrackingMenu.php
  CRM/Prospect/Upgrader/Steps/Step1011.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

BTHAB-39: Resolve issue with failing upgrader
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml

CIVIIB-114: Fix running upgrader on PHP 8 sites
  CRM/Prospect/Upgrader.php
Due: ./bin/phpcs.phar --standard=phpcs-ruleset.xml
